
$background: #131313;

$error: #ffb4ab;

$error_container: #93000a;

$inverse_on_surface: #313030;

$inverse_primary: #59605f;

$inverse_surface: #e5e2e1;

$on_background: #e5e2e1;

$on_error: #690005;

$on_error_container: #ffdad6;

$on_primary: #2b3231;

$on_primary_container: #b0b6b6;

$on_primary_fixed: #171d1d;

$on_primary_fixed_variant: #424848;

$on_secondary: #2f3131;

$on_secondary_container: #e0e0df;

$on_secondary_fixed: #1a1c1c;

$on_secondary_fixed_variant: #454747;

$on_surface: #e5e2e1;

$on_surface_variant: #c3c7c7;

$on_tertiary: #382e2a;

$on_tertiary_container: #c1b2ac;

$on_tertiary_fixed: #221a16;

$on_tertiary_fixed_variant: #4f4540;

$outline: #8d9191;

$outline_variant: #434847;

$primary: #c2c8c7;

$primary_container: #242a2a;

$primary_fixed: #dee4e3;

$primary_fixed_dim: #c2c8c7;

$scrim: #000000;

$secondary: #c6c7c6;

$secondary_container: #454747;

$secondary_fixed: #e2e2e2;

$secondary_fixed_dim: #c6c7c6;

$shadow: #000000;

$source_color: #242a2a;

$surface: #131313;

$surface_bright: #393939;

$surface_container: #201f1f;

$surface_container_high: #2a2a2a;

$surface_container_highest: #353534;

$surface_container_low: #1c1b1b;

$surface_container_lowest: #0e0e0e;

$surface_dim: #131313;

$surface_tint: #c2c8c7;

$surface_variant: #434847;

$tertiary: #d3c3bd;

$tertiary_container: #302723;

$tertiary_fixed: #f0dfd9;

$tertiary_fixed_dim: #d3c3bd;

