
$background: #141318;

$error: #ffb4ab;

$error_container: #93000a;

$inverse_on_surface: #312f36;

$inverse_primary: #5f5790;

$inverse_surface: #e5e1e9;

$on_background: #e5e1e9;

$on_error: #690005;

$on_error_container: #ffdad6;

$on_primary: #30285f;

$on_primary_container: #e5deff;

$on_primary_fixed: #1b1149;

$on_primary_fixed_variant: #473f77;

$on_secondary: #312e41;

$on_secondary_container: #e5dff9;

$on_secondary_fixed: #1c192b;

$on_secondary_fixed_variant: #484459;

$on_surface: #e5e1e9;

$on_surface_variant: #c9c5d0;

$on_tertiary: #482536;

$on_tertiary_container: #ffd8e6;

$on_tertiary_fixed: #301120;

$on_tertiary_fixed_variant: #623b4c;

$outline: #938f99;

$outline_variant: #48454e;

$primary: #c9bfff;

$primary_container: #473f77;

$primary_fixed: #e5deff;

$primary_fixed_dim: #c9bfff;

$scrim: #000000;

$secondary: #c9c3dc;

$secondary_container: #484459;

$secondary_fixed: #e5dff9;

$secondary_fixed_dim: #c9c3dc;

$shadow: #000000;

$source_color: #231d45;

$surface: #141318;

$surface_bright: #3a383e;

$surface_container: #201f25;

$surface_container_high: #2b292f;

$surface_container_highest: #35343a;

$surface_container_low: #1c1b20;

$surface_container_lowest: #0e0d13;

$surface_dim: #141318;

$surface_tint: #c9bfff;

$surface_variant: #48454e;

$tertiary: #edb8cd;

$tertiary_container: #623b4c;

$tertiary_fixed: #ffd8e6;

$tertiary_fixed_dim: #edb8cd;

