@import "./css/audio.css";
@import "./css/battery.css";
@import "./css/bluetooth.css";
@import "./css/clock.css";
@import "./css/network.css";
@import "./css/power.css";
@import "./css/resources.css";
@import "./css/tray.css";
@import "./css/tools.css";
@import "./css/window.css";
@import "./css/workspaces.css";
@import "./css/colors.css";

* {
  all:unset;
}

window.bar-top#waybar {
  background: alpha(@on_primary, 0.2);
  border-radius: 1.5rem;
  font-family: DejavuSansM Nerd Font;
  font-weight: bold;
  transition: all 0.3s cubic-bezier(0.77,0.00,0.175,1.00); 
}
