@use '../../../styles/colors.scss';

.battery-item {
  background: rgba(colors.$background, 1);
  border-radius: 1.5rem 1.5rem 1.5rem 1.5rem;
  padding: 0rem 2rem;
  margin: 0.2rem 10px 0rem 0rem;
}

.battery-icon {
  color: colors.$primary;
  -gtk-icon-size: 1.4rem;
}

.battery-percent {
  color: colors.$primary;
  font-size: 0.9rem;
}

