@use '../../../styles/colors.scss';

.corner-l {
  background: none;
  border-radius: 0rem 1.4rem 0rem 0rem;
  padding: 0rem 1rem 0rem 0rem; 
  box-shadow: 0 -1rem 0 0 rgba(colors.$background, 1);
}

.corner-r {
  background: none;
  border-radius: 1.4rem 0rem 0rem 0rem;
  padding: 0rem 0rem 0rem 1rem; 
  box-shadow: 0rem -1rem 0 0 rgba(colors.$background, 1);

}
