@import "./colors.css";

#wireplumber.top {
  margin: 0rem 1.2rem 0rem 0rem;
  color: alpha(@primary_fixed, 0.5);
  transition: all 0.3s cubic-bezier(0.77,0.00,0.175,1.00);
}

#wireplumber.top:hover {
  color: alpha(@primary_fixed, 1);
  transition: all 0.3s cubic-bezier(0.77,0.00,0.175,1.00);
}

#wireplumber.mid {
  margin: 0rem 0.9rem 0rem 0rem;
  color: alpha(@primary_fixed, 0.5);
  transition: all 0.3s cubic-bezier(0.77,0.00,0.175,1.00);
}

#wireplumber.mid:hover {
  color: alpha(@primary_fixed, 1);
  transition: all 0.3s cubic-bezier(0.77,0.00,0.175,1.00);
}

#wireplumber.low {
  margin: 0rem 0.85rem 0rem 0rem;
  color: alpha(@primary_fixed, 0.5);
  transition: all 0.3s cubic-bezier(0.77,0.00,0.175,1.00);
}

#wireplumber.low:hover {
  color: alpha(@primary_fixed, 1);
  transition: all 0.3s cubic-bezier(0.77,0.00,0.175,1.00);
}

#wireplumber.muted {
  margin: 0rem 1.1rem 0rem 0rem;
  color: alpha(@primary_fixed, 0.5);
  transition: all 0.3s cubic-bezier(0.77,0.00,0.175,1.00);
}

#wireplumber.muted:hover {
  color: alpha(@primary_fixed, 1);
  transition: all 0.3s cubic-bezier(0.77,0.00,0.175,1.00);
}

#wireplumber.volume {
  margin: 0rem 0.5rem 0rem 0rem;
  font-size: 0.75rem;
  color: alpha(@on_surface, 0.5);
  transition: all 0.3s cubic-bezier(0.77,0.00,0.175,1.00);
}

#wireplumber.volume:hover {
  color: alpha(@on_surface, 1);
  transition: all 0.3s cubic-bezier(0.77,0.00,0.175,1.00);
}
