@import "./colors.css";

#custom-power-icon {
  margin: 0rem 0.5rem 0rem 0rem;
  color: alpha(@primary_fixed, 0.5);
  font-size: 0.85rem;
  transition: all 0.3s cubic-bezier(0.77,0.00,0.175,1.00);
}

#custom-power-icon:hover {
  color: alpha(@primary_fixed, 1);
  transition: all 0.3s cubic-bezier(0.77,0.00,0.175,1.00);
}

#custom-poweroff {
  padding: 0rem 0.5rem 0rem 0rem;
  color: alpha(@on_surface, 0.5);
  font-size: 0.75rem;
  transition: all 0.3s cubic-bezier(0.77,0.00,0.175,1.00);
}

#custom-poweroff:hover {
  color: alpha(@on_surface, 1);
  transition: all 0.3s cubic-bezier(0.77,0.00,0.175,1.00);
}

#custom-reboot {
  padding: 0rem 0.5rem 0rem 0rem;
  color: alpha(@on_surface, 0.5);
  font-size: 0.75rem;
  transition: all 0.3s cubic-bezier(0.77,0.00,0.175,1.00);
}

#custom-reboot:hover {
  color: alpha(@on_surface, 1);
  transition: all 0.3s cubic-bezier(0.77,0.00,0.175,1.00);
}

#custom-suspend {
  padding: 0rem 0.8rem 0rem 0rem;
  color: alpha(@on_surface, 0.5);
  font-size: 0.75rem;
  transition: all 0.3s cubic-bezier(0.77,0.00,0.175,1.00);
}

#custom-suspend:hover {
  color: alpha(@on_surface, 1);
  transition: all 0.3s cubic-bezier(0.77,0.00,0.175,1.00);
}
