@import "./colors.css";

#custom-tray-icon {
  padding: 0rem 0.5rem 0rem 0.5rem;
  font-size: 1.15rem;
  color: alpha(@primary_fixed, 0.5);
  transition: all 0.3s cubic-bezier(0.77,0.00,0.175,1.00);
}

#custom-tray-icon:hover {
  color: alpha(@primary_fixed, 1);
  transition: all 0.3s cubic-bezier(0.77,0.00,0.175,1.00);
}

#tray {
  margin: 0rem 0rem 0rem 0rem; 
  transition: all 0.3s cubic-bezier(0.77,0.00,0.175,1.00);
}

#tray menu {
  padding: 0.7rem 0.7rem;
  font-size: 0.85rem;
  background: alpha(@on_primary, 0.9);
  border-radius: 1.5rem;
  color: alpha(@primary_fixed, 1);
}


