@import "./colors.css";

#custom-tray-icon {
  padding: 0rem 0.5rem 0rem 0.5rem;
  font-size: 1.15rem;
  color: alpha(@primary, 0.5);
  transition: all 0.3s cubic-bezier(0.77,0.00,0.175,1.00);
}

#custom-tray-icon:hover {
  color: alpha(@primary, 1);
  transition: all 0.3s cubic-bezier(0.77,0.00,0.175,1.00);
}

#tray {
  margin: 0rem 0rem 0rem 0rem; 
  transition: all 0.3s cubic-bezier(0.77,0.00,0.175,1.00);
}


